.mobile-global-nav
{
	ul
	{
		list-style-type: none;
		margin:0;
		margin-bottom: 2em;

	}

	li
	{
		margin: 0;
		padding: 0;
		opacity: .9;

	}

	a
	{
		border: 2px solid #999;
		display: block;
		margin-bottom: 1px;
		font-variant: small-caps;
		font-weight: bold;
		font-size: 1.25em;
	}
}
