

header
{
	margin-top: 1em;
	margin-bottom: 1em;
}

header .top-bar .name, header .top-bar li
{
	font-variant: small-caps;
}
header .top-bar
{
	margin-top: -1em;
}

header
{
	.phone-number-small
	{
		color: $blue;
		display: block;
	}
}

.top-bar
{


 .title-area h1 a
 {
 	font-family: $font1;
 	font-weight: bold;
 	color: $blue;
 }

 .top-bar-section
 {

 	li
 	{
 		border-bottom: 1px solid $grey;
 	}

 	a
 	{
 		font-weight: bold;
 	}
 }
}

p
{
	color: #444;
	font-family: $font1;
}

main small
{
	color: $blue;
}

main
{
	.main-content-header
	{
		font-size: 1.75em;
		color: $blue;
		margin-top: 0;
	}

	.in-page-nav
	{
		margin-top: 1.5em;
		margin-bottom: .25em;

		a
		{
			display: block;
			border: 3px solid $blue;
			background-color: none;
			padding-top: .75em;
			padding-bottom: .75em;
			margin-bottom: .5em;
			transition: background-color 0.2s ease, color 0.2s ease;
			font-weight: bold;
			color: $blue;
		}

		a:hover
		{
			transition: background-color 0.2s ease, color 0.2s ease;
			background-color: $blue;
			color: $white;
		}
	}
}

.logo-image
{
	margin: .25em 0 0 0;
}

.banner-image
{
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
}


.callout-box img
{
	border: 1px solid $light-grey;
	margin-bottom: .5em;
}

iframe
{

	width: 100%;
	height: auto;
}

.vcard
{
	line-height: 1.3em;
	color: $grey;

	strong
	{
		color: $blue;
	}
}

.large-header-address
{
	color: $grey;
	line-height: 1.4em;
	font-size: .9em;
	margin-top: .5em;
}

.construction
{
	h1
	{
		color: $blue;
	}

	strong
	{
		color: $black;
		font-size: 1.5em;
	}
}

footer
{
	background: $black;
	padding-top: 2em;
	padding-bottom: 2em;

	.row
	{
		margin-bottom: 0;
		height: 6em;
	}

	.vcard
	{
		color: $white;
		border: none;

		strong
		{
			color: $white;
		}
	}
}