body
{
	background: url(../img/background-patern.gif);
	background: #ffffff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#eaeaea 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #ffffff 0%,#eaeaea 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header
{
	margin-top: 1em;
	margin-bottom: 1em;
}

header .top-bar .name, header .top-bar li
{
	font-variant: small-caps;
}
header .top-bar
{
	margin-top: -1em;
}

header
{
	.phone-number-small
	{
		display: block;
		border: 3px solid $blue - 20;
		background-color: $blue;
		padding-top: .75em;
		padding-bottom: .75em;
		transition: background-color 0.2s ease, color 0.2s ease;
		font-weight: bold;
		color: $white;
		font-variant: small-caps;
		border-radius: .1em;
		margin: .75em 0 0em 0;
	}
}

h1
{
	font-family: $font1;
}

.top-bar
{

 .title-area h1 a
 {
 	font-family: $font1;
 	font-weight: bold;
 	color: $blue;
 }

 .top-bar-section
 {

 	li
 	{
 		border-bottom: 1px solid $grey;
 	}

 	a
 	{
 		font-weight: bold;
 	}
 }
}

p
{
	color: #444;
	font-family: $font1;
}

main small
{
	color: $blue;
}

.large-global-nav
{
	/*
	.global-nav-logo
	{
		background: $white;
		display: block;
		padding: .25em 1em;
		border: 3px solid $blue;
		border-radius: .3em;
	}
	*/
	.global-nav-button
	{
		transition: background-color 0.2s ease, color 0.2s ease;
		margin-top: .75em;
		border: 3px solid $blue;
		display: block;
		padding: 1em 0; 
		font-weight: bold;

		border-radius: .3em;
	}

	.global-nav-button:hover
	{
		transition: background-color 0.2s ease, color 0.2s ease;
		background-color: $blue;
		color: $white;
	}
}

main
{
	margin-bottom: 3em;

	.full-row
	{

	}

	.small-header-tagline
	{
		background: $black;	}

	.main-content-header
	{
		font-size: 1em;
		font-weight: bold;
		color: $white;
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font1;
		background-color: $black;
		padding-top: .5em;
		padding-bottom: .5em;
	}



	.main-content-header-medium-large
	{
		font-size: 3.25em;
		font-weight: 600;
		color: $black;
		margin-top: 0;
		margin-bottom: 0;
		font-family: $font1;
		padding-top: .5em;
		padding-bottom: .5em;
		font-variant: small-caps;
	}

	.in-page-nav
	{
		margin-top: .5em;
		margin-bottom: .25em;

		a
		{
			display: block;
			border: 3px solid $blue - 20;
			background-color: $blue;
			padding-top: .75em;
			padding-bottom: .75em;
			margin-bottom: .5em;
			transition: background-color 0.2s ease, color 0.2s ease;
			font-weight: bold;
			font-size: 1.25em;
			color: $white;
			font-variant: small-caps;
			border-radius: .1em;



		}

		a:hover
		{
			transition: background-color 0.2s ease, color 0.2s ease;
			background-color: $white;
			color: $blue;
		}
	}

	h2.sub-header
	{
		font-family: $font1;
		font-weight: bold;
		font-size: 1.25em;
		color: $blue;
	}
}

.sub-page
{
	color: $grey;

	h1
	{
		color: $blue;
		font-weight: bold;
	}

	h2
	{
		font-family: $font1;
		font-weight: bold;
		font-size: 1.25em;
		color: $blue;
	}

	p
	{
		color: $grey;
	}

	ul
	{
		list-style-type: none;
		margin: 0 0 1em 0;
	}

	li
	{
		border-bottom: 1px solid $light-grey;
		padding: .5em 0; 
	}

	img
	{
		margin-bottom: 1em;
		border: 1px solid $light-grey;
		border-radius: .3em;
	}

	.sub-page-leadin
	{
		font-weight: bold;
	}
}

.logo-image
{
	margin: .25em 0 0 0;
}

.banner-image
{
	border-top: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	width: 100%;
	margin-top: .25em;
}


.callout-box img
{
	border: 1px solid $light-grey;
	margin-bottom: .5em;
}

iframe
{

	width: 100%;
	height: auto;
}

.vcard
{
	display: block;
	line-height: 1.3em;
	color: $grey;
	width: 100%;

	strong
	{
		color: $blue;
	}
}

.large-header-address
{
	color: $grey;
	line-height: 1.4em;
	font-size: .9em;
	margin-top: .5em;
}

.construction
{
	h1
	{
		color: $blue;
	}

	strong
	{
		color: $black;
		font-size: 1.5em;
	}
}

footer
{
	background: $black;
	padding-top: 2em;
	padding-bottom: 2em;

	.row
	{
		margin-bottom: 0;
		height: 6em;
	}

	.vcard
	{
		color: $white;
		border: none;

		strong
		{
			color: $white;
		}
	}
}

.contact-page
{
	.sub-header
	{
		color: #666;
	}

	span
	{
		color: #666;
	}
}
















